.container {
  /* Makes page compact on wide screens*/
    max-width: 900px!important;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: F8F9FA; /* background color (not header)*/
    padding-top: 120px; /* Prevents problem with padding of navbar */
    color: black; /* text color */
}


/* Navigation bar at the top of the page */
nav  {
  background-color: rgb(123, 181, 217);
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #000000;
  font-weight: bold;
}


  /* h1 {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: black;
    font-weight: 700;
  }
  h2, h3 {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:black;
     */
  /* } */
  
  /* header {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
    /* background-color: rgb(123, 181, 217); */
  /* } */ 

 
  
  /* Without this links become underlined? */
  p {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
  }
  
  
  a {
    color:rgb(4, 82, 138);
    text-decoration: none;
  }
  

  
  img {
    height: 100%;
  }
  
  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

div {
    text-align: justify;
    text-justify: inter-word;
  }

  
  