body {
    background-color: black;

    /*Prevents problem with padding of navbar*/
    padding-top: 120px; 

    color: white;

}

.container {
  /* Makes page compact on wide screens*/
    max-width: 900px!important;
}

.bg-custom {
  background-color: bisque;
}

nav h1 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}


  h1 {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: bisque;
    font-weight: bold;
  }
  
  header {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: black;
    background-color: bisque;
    font-weight: bold;
  }

  h2, h3 {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:bisque;
    
  }
  
  
  p {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
  }
  
  
  a {
    color:bisque;
    text-decoration: none;
  }
  

  
  img {
    height: 100%;
  }
  
  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  
  